@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LexendGiga";
  src: url("../../public/fonts/LexendGiga-VariableFont_wght.ttf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-header {
    @apply text-custom-white-150 h-8 hover:border-b-2 hover:border-custom-white-50 hover:text-custom-white-50 ;
  }
}
