@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 100%);
  overflow-y: overlay;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 85%,
    #9747ff,
    #ff3d1f
  );
  animation: 10s spin linear infinite;
}

.gradBorderCore {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 90%,
    white,
    white
  );
  animation: 10s spin linear infinite;
}

.tech-icon-label {
  transition-property: box-shadow;
  transition-property: opacity;
  transition-duration: 500ms;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@font-face {
  font-family: "LexendGiga";
  src: url("/fonts/LexendGiga-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-header {
    @apply h-8 filter invert text-xl;
  }

  .content-wrapper {
    @apply w-full h-auto flex flex-col justify-center items-center py-20 xl:py-80;
  }

  .content-container {
    @apply w-[78%] gap-[2vw] justify-center items-center;
  }

  .subHeading {
    @apply font-JosefinSans font-light text-xl md:text-2xl lg:text-3xl xl:text-5xl;
  }

  .body {
    @apply font-JosefinSans font-extralight md:text-base lg:text-lg xl:text-xl;
  }

  .tech-icon-container {
    @apply w-full h-auto flex flex-row justify-between;
  }

  .tech-icon {
    @apply w-1/4 md:w-1/6 lg:w-1/12 h-auto object-contain lg:hover:scale-125 flex flex-col justify-center relative transition-transform duration-500;
  }

  .tech-icon-label {
    @apply body hidden lg:flex text-base justify-center items-center font-light text-center absolute left-1/2 -translate-x-1/2 translate-y-[25%] whitespace-nowrap px-2 top-0 w-auto h-auto opacity-0 rounded-full duration-500 bg-custom-white-50;
  }

  .tech-icon-label-h {
    @apply opacity-100 shadow-xl;
  }

  .tech-icon-img {
    @apply w-full px-6 my-12 lg:px-4 lg:my-8 2xl:px-8 2xl:my-16 h-auto object-contain;
  }

  .project-card {
    @apply content-container flex flex-row justify-between items-start;
  }

  .project-thumb {
    @apply flex-[6_6_0%] h-auto justify-center items-center
  }

  .project-icon-container {
    @apply w-full h-auto flex flex-row flex-wrap;
  }

  .project-card-img {
    @apply w-full h-auto object-contain;
  }

  .project-card-info {
    @apply flex flex-col items-start justify-start gap-6 flex-[5_5_0%];
  }

  .project-card-title-row {
    @apply h-auto w-full flex flex-row justify-between items-center;
  }

  .project-card-title {
    @apply subHeading -translate-x-2;
  }

  .project-card-desc {
    @apply body;
  }

  .project-content-parent {
    @apply w-full flex flex-col justify-center items-center transition-[max-height] duration-1000 ease-in-out overflow-hidden;
  }

  .project-collapsible-content {
    @apply content-container flex-col gap-20 flex justify-start items-start min-h-0 py-24 transition-transform duration-1000 ease-in-out;
  }

  .pcc-open {
    @apply scale-y-100 opacity-100;
  }

  .pcc-closed {
    @apply scale-y-0 opacity-0;
  }

  .project-card-icon {
    @apply md:w-[25px] lg:w-[30px] xl:w-[45px] 2xl:w-[35px] text-custom-grey hover:text-custom-purple transition-colors duration-500;
  }

  .project-button {
    @apply p-4 py-2 h-12 flex justify-center items-center whitespace-nowrap bg-custom-purple body text-custom-white-50 font-light;
  }
}
